body {
  margin: 0;
  background-color: gray;
}
.blockA {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 100px 0;


}
.blockA div {
  flex: 0 0 100px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: white;
  text-align: center;
 
}
p {
  margin-top: 30%;
  font-size: 2em;
}